<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
    <!-- 创建和管理 service层的对象 -->
    <context:component-scan base-package="com.lulei.ssm.service"></context:component-scan>
	<!-- 1.连接池配置交给spring -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.pwd}"/>
	</bean>
	<!-- 2.ssf创建交给spring -->
	<bean id ="ssf" class= "org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"></property>
		<property name="typeAliasesPackage" value="com.lulei.ssm.entity"></property>
		<property name="mapperLocations" value="classpath:com/lulei/ssm/dao/*.xml"></property>
	</bean>
	
	<!-- 3.mapper对象创建交给spring -->
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="ssf"></property>
		<property name="basePackage" value="com.lulei.ssm.dao"></property>
	</bean>
	
	<!-- 4.事务管理交给spring(aop) -->
		<!-- 4.1 事务管理器 -->
		<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="txManager">
			<property name="dataSource" ref="ds"/>
		</bean>
		
		<!-- 4.2 事务策略 -->
		<tx:advice id="txAdvice" transaction-manager="txManager">   	
		  <tx:attributes>
	   	   		<tx:method name="query*" read-only="true"/>
	   	   		<tx:method name="find*" read-only="true"/>
	   	   		<tx:method name="insert*" propagation="REQUIRED"/>
	   	   		<tx:method name="update*" propagation="REQUIRED"/>
	   	   		<tx:method name="delete*" propagation="REQUIRED"/>
        </tx:attributes>
	</tx:advice>
		
		<!-- 4.3 使用aop织入事务 -->
       <aop:config>
           <!-- 切入点 -->
          <aop:pointcut expression="execution(* service..*(..))" id="pointCut"/>
          <!-- 通知 --> 
       	  <aop:advisor advice-ref="txAdvice" pointcut-ref="pointCut"/>
       </aop:config>	

	
</beans>