<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--  <configuration>
	环境:  mysql  oracle ...
	default:  默认环境 写的是具体某个环境的id
	 
	<typeAliases>
		<package name="com.lulei.ssm.entity"/>
	</typeAliases>
	<environments default="dev">
	具体的环境  可以有多个  ; id:  该环境的唯一标识
		<environment id="dev">

			<transactionManager type="JDBC"></transactionManager>

			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql:///db_music?useSSL=true"/>
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<package name="com.lulei.ssm.dao"/>
	</mappers>

</configuration>
-->